{% extends "layout.html" %} {% load static %}
{% block content%}

<div class="hero_name">
    <h1>{{hero.name}}</h1>
</div>
<div class="row">
    <div class="col-md-6 hero_description row justify-content-between">
        <p>{{hero.hero_description}}</p>
    </div>
    <div class="col-md-6 col-md-offset-6">
        <div class="hero_icon">
            <img src="{% static "hero-icons/" %}{{hero.hero_icon}}" alt="{{hero.name}}" class="rounded">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ability_strength">{{hero.basic_stren}}+{{hero.stren_gain}}</li>
            <li class="list-group-item ability_agility">{{hero.basic_agil}}+{{hero.agil_gain}}</li>
            <li class="list-group-item ability_intel">{{hero.basic_intel}}+{{hero.intel_gain}}</li>
            <li class="list-group-item attack">{{hero.damage}}</li>
            <li class="list-group-item armor">{{hero.armor}}</li>
            <li class="list-group-item speed">{{hero.speed}}</li>
        </ul>
    </div>
</div>
{% endblock content %}